<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiffany.runningmusicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlowestActivity"
            android:label="Warm Up Walk 125-135 bpm" />
        <activity
            android:name=".SlowActivity"
            android:label="Slow Jog 135-145 bpm" />
        <activity
            android:name=".FastActivity"
            android:label="Run 145-155 bpm" />
        <activity
            android:name=".FastestActivity"
            android:label="Sprint 155-170 bpm" />
    </application>

</manifest>